<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars</title>

  <!-- bootstrap and style sheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <style>
    .boxmargin {
    background: lightgray;
    padding: 2px;
    border: black 2px solid;
    margin: 10px 0px 10px 0px;
  }

  h1 {font-size: 65px;
    font-weight: bold;
    color:saddlebrown
     }

  h2 {font-size: 40px;
    font-weight: bold;
    color:saddlebrown
    }

  h3{color: saddlebrown}

  h4 {font-family: Arial, Helvetica, sans-serif;}

  img {
            width: 100%;
        }
  
  
  </style>
 
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-warning btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <br>

    <!-- <div class = "container">  -->
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4>{{ mars.news_title }}</h4>
        <p>{{ mars.news_paragraph }}</p>
        <hr>
      </div>
    </div>

    <br>
    <!-- <div class = "container"> -->
    <div class="row">
      
      <div class="col-md-8">
        
        <div class="thumbnail">
          <h2>Featured Mars Image</h2>
          <img src="{{ mars.featured_mars_image }}" alt="Featured Mars Image">
        </div>
      </div>

      <div class="col-md-4">
          <h3><strong>Mars Facts</h3></strong>
          {{ mars.mars_facts | safe }}
      </div>
    </div>
    <br>
    <!-- <div class = "container"> -->
      <h2 class="text-center">Mars Hemispheres</h2>
      <hr>
    <div class="row">
      
      {% for row in mars.hemispheres %}

      <div class="col-md-6">
        <div class="thumbnail">
          <div class = "boxmargin">
          <img src="{{row['img_url']|default('static/images/error.png', true)}}" alt="Mars Hemisphere" width=500px height=500px>
          <h5 id="caption">{{row['title']}}</h5>
          </div>
        </div>
      </div>
   
    {% endfor %}
  </div>

</body>

</html>