<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars</title>

  <!-- bootstrap and style sheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  <br>
<!-- 
  <div class = "jumbotron text-left"> -->
    <div class ="row">
      <div class = "col-md-12 ml-auto">
        <h2>Latest Mars News</h2>
        <h3>{{ mars.news_title }}</h3>
          <p>{{ mars.news_paragraph }}</p>
      </div>
    </div>
  </div>

      <h2>Mars Facts</h2>
      <div>
        {{ mars.mars_facts | safe }}
      </div>

  </div>
  </div>
</body>

</html>