   <!-- <hr> -->
      <!-- <div class = "row"> -->
        <!-- <div class ="col-md-6"> -->
          <!-- <div class = "col-md-12"> -->
          <!-- <!~~ { % for x in mars.hemispheres %} ~~> -->
          <!-- <!~~ <img src = "{{ x[img_url] }}"> ~~> -->

          <!-- <!~~ { % endfor %} ~~> -->
                  
          <!-- </div> -->
         <!-- </div> -->

         <!-- <div class = "row" id = "mars-hemisphere"> -->
          <!-- <h2 class="text-center"> Mars Hemisphere </h2> -->
          <!-- {% for x in mars.hemispheres %} -->
          <!-- <div class=" col-3 col-md-6"> -->
            <!-- <div class="thumbnail"> -->
            <!-- <img src="{{x['img_url']|default('static/images/error.png', true)}}" alt="..."> -->
            <!-- <h5 id="caption">{{x['title']}}</h5> -->
          <!-- </div> -->
            <!-- <br/> -->
          <!-- </div> -->
          <!-- {% endfor %} -->
       <!-- <!~~ </div> ~~> -->
      <!-- </div> -->
    <!-- <div class = "row"> -->
      <!-- <div class ="col-md-6"> -->
        <!-- <div class = "col-md-12"> -->
      

        </div>
    </div>
  </div>
</div>
